<nav class="bg-purple-200 px-2 h-16 sm:px-4 py-4 dark:bg-gray-900">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">DeveloperSearch</span>
      </a>
      <a href="/login" class="flex items-center">
        Login
      </a>
<!--    <div class="drawer drawer-end flex items-center">-->
<!--      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />-->
<!--      <div class="drawer-content">-->
<!--      -->
<!--        &lt;!&ndash; Page content here &ndash;&gt;-->
<!--        <label for="my-drawer-4" class="drawer-button btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></label>-->
<!--      </div> -->
<!--      <div class="drawer-side">-->
<!--        <label for="my-drawer-4" class="drawer-overlay"></label>-->
<!--        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">-->
<!--          &lt;!&ndash; Sidebar content here &ndash;&gt;-->
<!--          <li><a>Sidebar Item 1</a></li>-->
<!--          <li><a>Sidebar Item 2</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
    </div>
  </nav>
  