{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    {% include "header.html" %}        
{% block body %}

{% endblock body %}
{% include "footer.html" %}
</body>
</html>