{% extends "index.html"%} {% block body%}
<div class="min-h-full h-screen flex flex-col my-5">
  <div
    class="max-w-md w-full mx-auto flex-1 flex flex-col items-center justify-center px-3"
  >
    <div class="bg-gray-900 px-6 py-8 text-gray-400 border border-black-alt w-full">
      <h1 class="mt-6 text-center text-3xl font-extrabold mb-8">
        <u>Sign up</u>
      </h1>
      <input
        type="text"
        class="rounded-md appearance-none relative block w-full mb-3 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm"
        name="name"
        placeholder="Name"
      />

      <input
        type="email"
        class="rounded-md appearance-none relative block w-full mb-3 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm"
        name="email"
        placeholder="Email address"
      />

      <input
        type="password"
        class="rounded-md appearance-none relative block w-full mb-3 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm"
        name="password"
        placeholder="Password"
      />

      <input
        type="password"
        class="rounded-md appearance-none relative block w-full mb-3 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm"
        name="cPassword"
        placeholder="Confirm Password"
      />

      <button
        type="submit"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-300 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 mt-5"
      >
        Signup
      </button>
    </div>

    <div class="text-md text-center">
      Already have an account?<a
        href="/login"
        class="font-medium text-white hover:text-gray-500"
      >
        <u>Login</u>
      </a>
    </div>
  </div>
</div>
{% endblock body%}
